.parallax-first {
  height: 750px;
}

.parallax-last {
  height: 1200px;
}

.tategaki {
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  position: absolute;
  right: 100px;
  top: 300px;
}

.logo {
  width: 50%;
  height: 50%;
  min-width : 400px;
}

.icon {
  width: 40%;
  height: 40%;
}

.face-icon {
  width: 20%;
  height: 20%;
}

.title {
  width: 40%;
  height: 40%;
}

html {
  font-family: "Noto Sans Japanese";
}