.parallax-first {
  height: 750px;
}

.parallax-last {
  height: 900px;
}

.tategaki {
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  position: absolute;
  right: 300px;
}

.logo {
  width: 100%;
  height: 100%;
}